* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
}

form {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: 0.5%;
}

form button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 6px 12px 7px;
    background-color: #373737;
    color: #fff;
    max-width: 60%;
    border-radius: 4px;
    border-bottom-right-radius: 1.3em;
    border-top-right-radius: 1.3em;
    font-size: 15px;
    margin: 1px 0;
    float: left;
    clear: left;

}

#messages li:nth-child(odd) {
    /* background-color: #373737;
    color: #fff; */
}

/* Fix user-agent */

* {
    box-sizing: border-box;
}

html {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

html,
input {
    font-family:
        "HelveticaNeue-Light",
        "Helvetica Neue Light",
        "Helvetica Neue",
        Helvetica,
        Arial,
        "Lucida Grande",
        sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    word-wrap: break-word;
}

/* Pages */

.pages {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.page {
    height: 100%;
    position: absolute;
    width: 100%;
}

/* Login Page */

.login.page {
    background-color: #000;
}

.login.page .form {
    height: 100px;
    margin-top: -100px;
    position: absolute;

    text-align: center;
    top: 50%;
    width: 100%;
}

.login.page .form .usernameInput {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    width: 400px;
}

.login.page .title {
    font-size: 200%;
}

.login.page .usernameInput {
    font-size: 200%;
    letter-spacing: 3px;
}

.login.page .title,
.login.page .usernameInput {
    color: #fff;
    font-weight: 100;
}

/* Chat page */

.chat.page {
    display: none;
}

/* Font */

.messages {
    font-size: 150%;
}

.inputMessage {
    font-size: 100%;
}

.log {
    color: gray;
    font-size: 70%;
    margin: 5px;
    text-align: center;
}

/* Messages */

.chatArea {
    height: 100%;
    /* padding-bottom: 60px; */
}

.messages {
    height: 100%;
    margin: 0;
    padding: 10px 20px 10px 20px;
    background-color: #18191a;
}

.message.typing .messageBody {
    color: #ffffff;
}

.messageBody {
    color: #ffffff;
}

.username {
    font-weight: 700;
    overflow: hidden;
    padding-right: 15px;
    text-align: right;
}

/* Input */

.inputMessage {
    /* border: 10px solid #000; */
    /* background-color: rgba(255, 255, 255, .1); */
    background-color: #444444;
    bottom: 0;
    height: 60px;
    left: 0;
    outline: none;
    padding: 0px 10px;
    border: none;
    border-radius: 18px;
    color: #fff;
    /* position: absolute; */
    right: 0;
    width: 100%;
    /* margin: auto auto 10px auto; */
}

.card-scroll {
    max-height: calc(100vh - 120px);
    overflow-y: auto;
    min-height: 100%;
}


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 0px !important;
}

.card-admin-body {}

.card-body {
    overflow: auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0px !important;
    background-color: #18191a;
}

.card-footer {
    background-color: #18191a !important;
    border-top: 1px solid white;
}

.log-user {
    color: gray;
    font-size: 16px;
    margin: 5px;
    text-align: left;
}

.log-user img {
    margin-right: 20px;
}

.messageBox {
    background: #f3f3f3;
    border-radius: 20px;
    padding: 0px 20px 5px;
    color: #fff;
    display: inline-block;
    max-width: 80%;
}


.backgroundBlue {
    background: #2979ff;
}

.colorWhite {
    color: #fff;
}

.messageText {
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 1.1em;
    margin-bottom: 0px !important;
    word-wrap: break-word;
}

.sentText {
    display: flex;
    align-items: center;
    font-family: Helvetica;
    color: #828282;
    letter-spacing: .3px;
    margin-bottom: 0px;
}

.pr-10 {
    padding-right: 10px;
}

.messageContainer {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin-top: 5px;
}